[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
mysqlclient = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
django-environ = "*"
psycopg2 = "*"

[dev-packages]
black = "*"
autopep8 = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
